.introduccion{
    margin: 40px;
    min-height: 73vh;
    h1{
        @include estilo1(60px, 1px 1px 2px rgb(255, 255, 255));
        padding: 30px
    }
    .parrafo{
        @include estilo1(25px, 1px 1px 2px rgb(255, 255, 255));
        max-width: 80vw;

    }
    
}

@media only screen and (max-width: 768px){
    .introduccion{
        margin: 40px;
        min-height: 73vh;
        h1{
            @include estilo1(40px, 1px 1px 2px rgb(255, 255, 255));
            padding: 30px
        }
        .parrafo{
            @include estilo1(15px, 1px 1px 2px rgb(255, 255, 255));
            max-width: 80vw;
    
        }

    }
}

@media only screen and (max-width: 575px){
    .introduccion{
        max-width: 80vw;
        h1{
            @include estilo1(30px, 1px 1px 2px rgb(255, 255, 255));
        }
        .parrafo{
            @include estilo1(20px, 1px 1px 2px rgb(255, 255, 255));
            max-width: 80vw;
    
        }
        }
}